### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
*.json
errors.txt
private/
Aircraft_Register.csv
aircraft_dictionary.json
tracked_hexes/
flights.db
errors.log
tracker.log
data/
